.cartita {
    width: 30%;
    background-color: rgb(218, 203, 203);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-inline: 1.5%;
    margin-block: 20px;

    
}
.cartita_imagen {
    width: 100%;
}